.swiper {
  width: 300px;
  height: 150px;
  --swiper-navigation-size: 20px;
  @media (width >= 64rem) {
    width: 600px;
    height: 400px;
  --swiper-navigation-size: 40px;

  }
}

.viewUnit {
  width: 300px;
  height: 150px;
  --swiper-navigation-size: 20px;
  @media (width >= 64rem) {
    width: 600px;
    height: 400px;
  --swiper-navigation-size: 40px;

  }
}
